@import "../../component/color.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-page {
  height: calc(100vh - 90px);
  background-image: url("../../assets/libarybackground.jpg");
  background-size: cover;
  background-position: calc(100px - 30px) 70%;
  font-family: "IBM Plex Sans Thai", sans-serif;
  position: fixed;
  width: 100%;
}

.login-box-con {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .blur-login-backgound {
    width: 100%;
    height: calc(100vh - 90px);
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
  }
  .login-box {
    width: 430px;
    height: 430px;
    background-color: var(--color-tertiary);
    border-radius: 20px;
    z-index: 10;
    padding: 40px 50px;
    position: relative;
  }
}
.userinput-con {
  display: flex;
  flex-direction: column;
  label {
    font-size: 1.5rem;
    color: var(--color-secondary);
    font-weight: 600;
  }
  input {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
    background-color: transparent;
    border: 3px solid var(--color-secondary);
    margin-bottom: 20px;
  }
}
.passwordinput-con {
  display: flex;
  flex-direction: column;
  label {
    font-size: 1.5rem;
    color: var(--color-secondary);
    font-weight: 600;
  }
  input {
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
    background-color: transparent;
    border: 3px solid var(--color-secondary);
    margin-bottom: 40px;
  }
}
.login-btn-con {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .log-btn {
    padding: 10px 30px;
    width: 200px;
    font-size: 1.2rem;
    font-weight: 900;
    background-color: var(--color-primary);
    color: var(--color-tertiary);
    border: none;
    border-radius: 30px;
    margin-bottom: 20px;
    font-family: "IBM Plex Sans Thai", sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      background-color: #d84c2f;
    }
    &:active {
      background-color: #bc351a;
    }
  }
  .nolog-btn {
    font-size: 1.2rem;
    color: var(--color-secondary);
    font-weight: 500;
  }
}

.error-mes {
  position: absolute;
  bottom: 130px;
  left: 50%;
  transform: translateX(-50%);
}
