@import "/src/component/color.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-con {
  font-family: "IBM Plex Sans Thai", sans-serif;
}

nav {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: var(--color-tertiary);
  .logo-con {
    .main-logo {
      width: 400px;
      margin-top: 10px;
    }
  }
  .menu-con {
    display: flex;
    justify-content: space-between;
    min-width: 600px;
    .ul-nav {
      display: flex;
      justify-content: space-around;
      list-style: none;
      width: 50%;
      .li-nav {
        .menu-a {
          text-decoration: none;
          color: var(--color-primary);
          font-size: 1.5rem;
          font-weight: 600;
          padding: 10px;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
    .lang-con {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 50%;
      position: relative;
      .lang-a {
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: 600;
        color: var(--color-secondary);
        cursor: pointer;
        &:hover {
          opacity: 0.8;
        }
      }
      .just-span {
        position: absolute;
        left: 20px !important;
        font-size: 2rem;
        color: var(--color-secondary);
      }
    }
  }
}
