@import "/src/component/color.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  animation: fade 2s;

  @keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}

.nav-log-con {
  font-family: "IBM Plex Sans Thai", sans-serif;
}

nav {
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: var(--color-tertiary);
  .logo-con {
    .main-logo {
      width: 400px;
      margin-top: 10px;
    }
  }
  .menu-con {
    display: flex;
    justify-content: space-between;
    min-width: 600px;
    .ul-nav-log {
      display: flex;
      justify-content: end;
      list-style: none;
      width: 50%;
      margin-left: 70px;
      .li-nav-log {
        display: flex;
        align-items: center;
        min-width: 200px;
        justify-content: space-evenly;
        cursor: pointer;
        .user-con {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          &:hover {
            opacity: 0.8;
          }
          .expand {
            font-size: 1.5rem;
            right: 65px;
            color: var(--color-primary);
          }
        }
        .userPic {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          object-fit: cover;
          box-shadow: 1px 1px 5px 1px gray;
          /* border: 2px solid var(--color-primary); */
        }
        .p-name {
          font-size: 1.2rem;
          font-weight: 600;
          color: var(--color-primary);
        }
      }
    }
    .lang-con {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 50%;
      position: relative;
      .lang-a {
        font-size: 1.5rem;
        text-decoration: none;
        font-weight: 600;
        color: var(--color-secondary);
        &:hover {
          opacity: 0.8;
        }
      }
      .just-span {
        position: absolute;
        left: 25px;
        font-size: 2rem;
        color: var(--color-secondary);
      }
    }
  }
}
