* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #f2eee9;
}

.fade-content {
  animation: fade 2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
