* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  background-color: #f2eee9;
}

.load-con{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .loader {
    position: absolute;
    top: 70%;
  }
  .Applogo{
    width: 150px;
  }
}

.fade-content {
  animation: fade 2s;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

