@import "../../../component/color.css";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.memberPage-con {
  font-family: "IBM Plex Sans Thai", sans-serif;
}

.meminfo-con {
  height: calc(100vh - 90px);
  background-color: whitesmoke;
  padding: 50px 150px 0 150px;
}

.member-bruh {
  display: flex;
  justify-content: space-between;
  .mem-pic {
    margin-top: 30px;
    border-radius: 15px;
    width: 370px;
    height: 370px;
    object-fit: cover;
  }
}

.member-detail-con {
  position: relative;
  min-width: 600px;
  .main-name {
    font-size: 5rem;
    font-weight: 900;
    color: var(--color-primary);
    text-align: end;
    font-weight: 900;
  }
  .main-info-name {
    font-size: 1.4rem;
    text-align: end;
    color: var(--color-secondary);
  }
  .main-info-duty {
    position: absolute;
    text-align: end;
    top: 320px;
    font-size: 1.2rem;
    color: var(--color-secondary);
  }
}

.backto-about-btn-con {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  .backto-about-btn {
    font-size: 1.5rem;
    font-weight: 600;
    color: whitesmoke;
    background-color: var(--color-primary);
    border: none;
    border-radius: 30px;
    padding: 10px 40px;
    cursor: pointer;
    position: absolute;
    bottom: 30px;
    &:hover {
      background-color: #d84c2f;
    }
    &:active {
      background-color: #bc351a;
    }
  }
}
